:root {
    --base00: #212529;
    --base01: #1e2125;
    --base0D: #55fff5;
    --base0A: #8afff7;

    --logo: var(--base0D);
}

.content__header {
    margin-bottom: 10px;
}

.page__body li {
    line-height: 1.75rem;
}

.page__body li a {
    text-decoration: none;
}